body {
  margin: 0 auto;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Roboto Mono', monospace, 'Montserrat', sans-serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
  background: rgb(163,205,223);
  background: linear-gradient(175deg, rgba(163,205,223,1) 0%, rgba(222,204,232,1) 51%, rgba(251,251,251,1) 86%);
}

code {
  font-family: 'Roboto Mono', monospace;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 95.5vh;
  background-color: rgba(255,255,255, 0.3);
  border-radius: 30px;
  box-shadow: 1px 1px 5px gray;
}

/* SearchBar */

.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.currentLocation img {
  height: 35px;
  margin-right: 10px;
}

form {
  display: flex;
  align-items: center;
}

.SearchBar input {
  border: none;
  padding: 10px 2px;
  box-shadow: 1px 1px 5px lightgray;
}

.searchBtn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #A180FF;
  color: white;
  :hover {
    box-shadow: 1px 1px 5px white;
  }
}

/* Geo Locator */
.currentLocation {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Big Icon */

.BigIcon {
  height: 70px;
  margin: 30px 0 0 20px;
}

/* CurrentTemp */

.CurrentTemp {
  margin: 40px 0 0 20px;
}

.CurrentTemp h3 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100 light;
  margin-top: 0;
 
}

.CurrentTemp h1 {
  font-size: 3rem;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800 bold;
}

.tempContainer {
  display: flex;
} 

.convertBtn {
  display: flex;
  align-items: center;
}

.convertBtn button {
  border: none; 
  background: none;
  font-weight: bold;
  font-size:1.5rem;
  margin:
}

.windContainer {
  display: flex;
  width: 50%;
  justify-content: start;
}

.windContainer div {
  margin-right: 25px
}

.windContainer div p {
  margin-top: 0
}

/* Forecast */

.Title {
  margin: 20px 0 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.ForecastContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  /* margin-top: 50px; */
}

.ThreeHForecast {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ThreeHForecast div {
  font-size: 0.8rem;
  margin: 15px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/* ForecastIcon */

.ForecastIcon {
  width: 15vw;
}



